/* OBRIGATÓRIO (;) NO CSS */
* {
    background-color: rgb(161, 193, 201);
}
h1 {
    color: rgb(145, 255, 0);
    background: black;
}

p {
   color: rgb(2, 2, 238); 
   font-size: 20px;
}

button {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    border: none;
    margin-top: 65px;
    box-shadow: 5px 5px 10px grey;
    cursor: pointer;
}

img {
    border-radius: 50%;
}